<div class="privacy-policy-container">
  <h1>Privacy policy</h1>
  <p>
    DermEase customers have the best privacy protection while shopping with us. We understand the importance of protecting your personal information in order to gain your trust in us.We collect personal information such as your name, email, and payment details to provide our services, including accurate diagnoses and personalized skincare recommendations. Your data is securely stored and used solely for enhancing your experience and processing transactions. We do not share your information with third parties, except for trusted partners who assist in operating our services, all under strict confidentiality agreements.
  </p>
  <p>
    To improve your online interaction with us, to update and maintain the content of our website, and for marketing and promotional purposes, we collect online customer information. Before providing your information to any of these other businesses or organizations, please make sure to read their privacy policies.
  </p>
  <p>Keep Glowing with DermEase!</p>
</div>
