<header class="header">
  <div class="container">
    <div class="logo">
      <img src="../../../assets/images/logooo2.png" alt="" width="100" height="80">
    </div>

    <nav class="nav">
      <ul>
        <li><span routerLink="/">HOME</span></li>
        <li><span routerLink="/about">ABOUT</span></li>
        <li class="dropdown">
          <span routerLink="/shop">SHOP</span>
          <!-- <ul class="dropdown-content">
            <li><a routerLink="/shop/category1">Category 1</a></li>
            <li><a routerLink="/shop/category2">Category 2</a></li>
          </ul> -->
        </li>
        <li><span routerLink="/contact">CONTACT</span></li>
      </ul>
    </nav>



    <div class="icons">
      <a routerLink="/search"><i class="fa fa-search"></i></a>
      <a routerLink="/cart"><i class="fa fa-shopping-cart"></i> <span>0</span></a>
      <a routerLink="/account">ACCOUNT</a>
      <a routerLink="/track-order">TRACK ORDER</a>
    </div>

    <!-- Hamburger menu button -->
    <button class="hamburger" onclick="toggleMenu()">
      <i class="fa fa-bars"></i>
    </button>

    <!-- Dropdown menu for icons -->
    <div class="dropdown-menu" id="dropdownMenu">
      <a routerLink="/search"><i class="fa fa-search"></i> Search</a>
      <a routerLink="/cart"><i class="fa fa-shopping-cart"></i> Cart <span>0</span></a>
      <a routerLink="/account">Account</a>
      <a routerLink="/track-order">Track Order</a>
    </div>
  </div>
</header>
