<header class="header">
  <div class="container">
    <div (click)="toggleSearch()">
      <mat-icon>search</mat-icon>
    </div>

    <!-- Search Bar -->
    <div *ngIf="isSearchBarVisible" class="search-bar">
      <input
        type="text"
        placeholder="Search for products"
        [(ngModel)]="searchQuery"
        (keyup.enter)="onSearch()"
      />
      <button (click)="onSearch()">Search</button>
    </div>
    <div class="logo">
      <img src="../../../assets/images/logo.png" routerLink="/" alt="" width="100" height="80" />
    </div>

    <div class="icons">
      <span (click)="toggleCart()" (click)="onCart()"><mat-icon>add_shopping_cart</mat-icon>
        <span class="badge">{{ cartCount }}</span></span>
      <ul>
        <li class="dropdown">
          <span  routerLink="/account">
            <mat-icon>account_circle</mat-icon>
            <span *ngIf="isLoggedIn()" > {{ user?.user_name }} </span>
          </span>
          <ul class="dropdown-content">
            <!-- Show Admin Settings if user is an admin -->
            <ol *ngIf="isAdmin && isLoggedIn()" routerLink="/admin">
              <span>Admin Dashboard</span>
            </ol>

            <ol *ngIf="isVendor && isLoggedIn()" routerLink="/admin">
              <span>Vendor Dashboard</span>
            </ol>

            <!-- Show Login/Signup if user is not logged in -->
            <ol *ngIf="!isLoggedIn()" routerLink="/login">
              <span>Login / Sign Up</span>
            </ol>

            <!-- Show Logout if user is logged in -->
            <ol *ngIf="isLoggedIn()" (click)="logout()">
              <span>Logout</span>
            </ol>
          </ul>
        </li>
      </ul>
      <mat-icon class="hamburger" (click)="openNav()">menu</mat-icon>

      <!-- Side navigation -->
      <div id="mySidenav" class="sidenav">
        <mat-icon href="javascript:void(0)" class="closebtn" (click)="closeNav()">close</mat-icon>

        <span routerLink="/"  (click)="closeNav()">Home</span>
        <span routerLink="/shop/allprodcuts"  (click)="closeNav()">Shop</span>
        <span routerLink="/about"  (click)="closeNav()">About</span>
        <span routerLink="/contact"  (click)="closeNav()">Contact</span>
        <span routerLink="/dermConnect"  (click)="closeNav()">Derm Connect</span>
        <span routerLink="/solutionFinder"  (click)="closeNav()">Skincare Solution Finder</span>
        <span routerLink="/diseasePredictor"  (click)="closeNav()">Skin Disease Predictor</span>
      </div>
    </div>
  </div>

  <nav class="nav">
    <ul>
      <li><span routerLink="/">Home</span></li>
      <li class="dropdown">
        <span routerLink="/shop/allprodcuts">Shop</span>
      </li>
      <li><span routerLink="/about">About</span></li>
      <li><span routerLink="/contact">Contact</span></li>
      <li><span routerLink="/dermConnect">Derm Connect</span></li>
      <li>
        <span routerLink="/solutionFinder">Skincare Solution Finder</span>
      </li>
      <li>
        <span routerLink="/diseasePredictor">Skin Disease Predictor</span>
      </li>
    </ul>
  </nav>
</header>
