
<div class="dialog-content">

  <div class="image-section">
    <img [src]="data.product_image" alt="{{ data.name }}" height="450" width="450">
  </div>
  <div class="details-section">

    <h1>{{ data.product_name }}</h1>
    <p *ngIf="data.oldPrice" class="old-price">Rs {{ data.oldPrice }}</p>
    <p class="price">Rs {{ data.price }}</p>
    <div class="quantity-selector">
      <div class="quantity-section">
        <label for="quantity" class="qty-label">QTY</label>&nbsp;&nbsp;
        <input
        type="number"
        [(ngModel)]="quantity"
        (change)="validateQuantity($event)"
        min="1"
        max="20"
        placeholder="Type"
      />

      </div>


      <button class="primary-button btn" (click)="addToCart(data)">Add to Cart</button>
    </div>

    <div class="specifications">
      <h5>SPECIFICATIONS</h5>
      <p class="description">
        {{data.product_description}}
      </p>

      <div class="social-icons">
        <h5> SHARE</h5>
        <div class="social-icons">
          <i class="fa fa-instagram"></i>
          <i class="fa fa-facebook"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-envelope-open"></i>
          <i class="fa fa-pinterest"></i>
        </div>
      </div>

    </div>
  </div>
   <mat-icon class="mat-18" (click)="closeDialog()">close </mat-icon>
</div>
