
<div class="dialog-content">

  <div class="image-section">
    <img [src]="data.image" alt="{{ data.name }}" height="35  0px" width="400px">
  </div>
  <div class="details-section">

    <h1>{{ data.name }}</h1>
    <p *ngIf="data.oldPrice" class="old-price">Rs {{ data.oldPrice }}</p>
    <p class="price">Rs {{ data.price }}</p>
    <div class="quantity-selector">
      <div class="quantity-section">
        <label for="quantity" class="qty-label">QTY</label>&nbsp;&nbsp;
        <input type="number" id="quantity" name="quantity" min="1" value="1" max="20" (input)="validateQuantity($event)">
      </div>


      <button class="primary-button btn">Add to Cart</button>
    </div>

    <div class="specifications">
      <h5>SPECIFICATIONS</h5>
      <p>
        Healthiest, smoothest, clearest, and most luminous yet glass skin is achieved when it is well hydrated. A cocktail of Chamomile extract,
         Hyaluronic Acid & Niacinamide helps to visibly plump, hydrate, calm, brighten, and firm skin.
      </p>

      <div class="social-icons">
        <h5> SHARE</h5>
        <div class="social-icons">
          <i class="fa fa-instagram"></i>
          <i class="fa fa-facebook"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-envelope-open"></i>
          <i class="fa fa-pinterest"></i>
        </div>
      </div>

    </div>
  </div>
   <mat-icon class="mat-18" (click)="closeDialog()">close </mat-icon>
</div>
