<h2 class="chat-header">{{ remoteUser }}</h2>

<div class="chat-box">
  <div
    *ngFor="let msg of messages"
    class="chat-message"
    [class.user]="msg.sentByUser"
    [class.remote]="!msg.sentByUser"
  >
    <p>{{ msg.text }}</p>

    <div *ngIf="!msg.sentByUser && msg.attachment">
      📎 <a [href]="msg.attachment" download>
        Download Attachment<br />
        ({{ msg.attachmentName }})
      </a>
    </div>
  </div>
</div>

<div class="chat-input">
  <input type="text" [(ngModel)]="newMessage" placeholder="Type your message..." />
  <input type="file" (change)="onFileSelected($event)" />
  <button mat-raised-button color="primary" (click)="sendMessage()">Send</button>
</div>
