<!-- <app-carosuel></app-carosuel> -->

<section>
  <img src="../../../assets/images/Brown and White Modern Skincare Presentation (2).png" alt="" width="100%" >
</section>

<section class="featured-products">
  <h2><span> Your Skin Craves</span></h2>
  <p>
    Designed to meet all type of skincare needs and concerns
  </p>
  <div class="product-grid">
    <div class="product-card" *ngFor="let product of filteredProducts">
      <img [src]="product.product_image" [alt]="product.product_name">
      <h4>{{ product.product_name }}</h4>
      <div class="price">
        <span *ngIf="product.oldPrice" class="old-price">Rs {{ product.oldPrice }}</span>
        <span>Rs {{ product.price }}</span>
      </div>
      <div class="actions">
        <span (click)="addToCart(product)">Add to Cart</span>
        <span (click)="quickView(product)" class="quickView">Quickview</span>
      </div>
    </div>
  </div>

</section>


<!-- <div class="cart-sidebar" [class.show]="cartVisible">
  <div class="cart-header">
    <div class="shopping-heading">
      <div>SHOPPING BAG</div>
      <span class="shop-count">{{ getCartCount() }}</span>
    </div>
    <mat-icon (click)="toggleCart()" class="close-icon">close</mat-icon>
  </div>
  <div *ngFor="let item of cartItems" class="cart-item">
    <div class="item-info">
      <img [src]="item.image" alt="product image" />
      <div>
        <div class="itemName">{{ item.name }}</div>
        <div class="quantityAdd">
          <mat-icon (click)="removeFromCart(item)" class="removeIcon">remove</mat-icon>
          <span>{{ item.quantity }}</span>
          <mat-icon (click)="addToCart(item)" class="removeIcon">add</mat-icon>
            &nbsp;
          <div class="price">Rs {{ item.price }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="cart-footer">
    <div class="subtotal">
     <span>SUBTOTAL:</span>
     <span> Rs {{ getTotal() }}</span>
    </div>
    <hr class="center-diamond">
    <div class="footer-button">
      <button (click)="onViewCart()">View Cart</button>
      <button (click)="checkout()">CHECKOUT →</button>
    </div>

  </div>
</div> -->


