/* Swiper Container */
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination {
  bottom: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #7dbe41;
}

/* Featured Products */
.featured-products {
  text-align: center;
  padding: 40px 20px;
}

.featured-products h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.featured-products h2 span {
  color: #784b79;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.featured-products p {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-inline: 94px;
}

.product-card {
  margin-bottom: 40px;
  margin-right: 14px;
  padding-inline: 7px;
  width: calc(25% - 40px);
  box-sizing: border-box;
  text-align: center;
  /* box-shadow: rgb(96 96 96 / 25%) 0px 2px 2px; */
  /* border-bottom: 0.6px solid var(--primary-color);
  border-top: 0.4px solid var(--primary-color); */
}

.product-card img {
  width: 100%;
  height: auto;
  margin-bottom: 4px;
}

.product-card h3 {
  font-size: 16px;
}


.product-card .old-price {
  text-decoration: line-through;
  color: #999;
  margin-right: 10px;
}

.product-card .actions {
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.product-card .actions span {
  margin: 5px 0;
  padding: 10px;
  color: black;
  cursor: pointer;
  border-bottom: 2px solid var(--primary-color);
}

.product-card .actions span:hover {
  background: var(--primary-color);
  border-radius: 8px;
  transition: 0.5s ease-in-out;
}

/* Responsive Design */
 
@media (max-width: 1200px) {
  .featured-products .product-grid .product-card {
    width: calc(50% - 40px);
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none; /* Hide navigation buttons on small screens */
  }
}

@media (max-width: 768px) {
  .featured-products .product-grid .product-card {
    width: calc(50% - 40px);
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none; /* Hide navigation buttons on small screens */
  }
  .featured-products .product-grid .product-card .actions{
    display: none;
  }
}

@media (max-width: 480px) {
  .featured-products .product-grid .product-card {
    width: calc(100% + 40px);
  }
  .featured-products .product-grid .product-card .actions{
    display: none;
  }

}
.mat-h3, .mat-subtitle-1, .mat-typography .mat-h3, .mat-typography .mat-subtitle-1, .mat-typography h3 {
  font: 400 16px / 28px Roboto, sans-serif;
  letter-spacing: .009375em;
  margin: 0 0 8px !important;
}