<!-- Shop Banner Section -->
<div class="shop-banner">
  <div class="shop-content text-center p-4">
    <p class="text-2xl mb-2">DermEase</p>
    <h1 class="text-4xl font-bold">GET IN TOUCH</h1>
    <br>
    <p class="p-8">
      Reach out to us for any inquiries, support, or feedback—we're here to help and connect with you.
    </p>
  </div>
</div>

<!-- Contact Form Section -->
<div class="contact-form-container">
  <h1>Got Any Questions?</h1>
  <p>Use the form below to get in touch with us.</p>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <!-- Name and Email -->
    <div class="email">
      <input
        type="text"
        formControlName="name"
        placeholder="Name"
        aria-label="Your Name"
        class="focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
      <input
        type="email"
        formControlName="email"
        placeholder="Email *"
        aria-label="Your Email"
        required
        class="focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>

    <!-- Phone Number -->
    <div class="form-group">
      <input
        type="tel"
        formControlName="phone"
        placeholder="Phone Number"
        aria-label="Your Phone Number"
        class="focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>

    <!-- Message -->
    <div class="form-group">
      <textarea
        formControlName="message"
        placeholder="Message"
        rows="4"
        aria-label="Your Message"
        class="focus:outline-none focus:ring-2 focus:ring-blue-500"
      ></textarea>
    </div>

    <!-- Submit Button -->
    <button
      type="submit"
      class="primary-button sendBtn focus:outline-none focus:ring-2 focus:ring-blue-500"
    >
      SEND
    </button>
  </form>
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "rgba(205, 160, 121, 1)" type = "ball-fussion" [fullScreen] = "true"></ngx-spinner>
