<div class="cart-sidebar" [class.show]="cartVisible">
  <div class="cart-header">
    <div class="shopping-heading">
      <div>SHOPPING BAG</div>
      <span class="shop-count">{{ getCartCount() }}</span>
    </div>
    <mat-icon (click)="toggleCart()" class="close-icon">close</mat-icon>
  </div>
  <div *ngFor="let item of cartItems" class="cart-item">
    <div class="item-info">
      <img [src]="item.product_image" alt="product image" />
      <div>
        <div class="itemName">{{ item.product_name }}</div>
        <div class="quantityAdd">
          <div class="quantityIcons">
            <mat-icon (click)="removeFromCart(item)" class="removeIcon">remove</mat-icon>
            <span >{{ item.quantity }}</span>
            <mat-icon (click)="addToCart(item)" class="removeIcon">add</mat-icon>
          </div>
          &nbsp;
          <div class="price">Rs {{ item.price }}</div>
        </div>
      </div>
    </div>
    <mat-icon (click)="removeItemFromCart(item)" class="removeCart">close</mat-icon>
  </div>

  <div class="cart-footer">
    <div class="subtotal">
     <span>SUBTOTAL:</span>
     <span> Rs {{ getTotal() }}</span>
    </div>
    <hr class="center-diamond">
    <div class="footer-button">
      <button (click)="onViewCart()" class="primary-button">View Cart</button>
      <button (click)="checkout()" class="primary-button">CHECKOUT →</button>
    </div>

  </div>
</div>
