<div class="shop-banner">
  <div class="shop-content text-center p-4">
    <p class="text-2xl mb-2">DermEase</p>
    <br>
    <h1 class="text-4xl font-bold">ABOUT US</h1>
    <br>
    <p class="p-8">Since 2024, DermEase has been committed to blending nature and science to create skincare products that enhance beauty and promote skin health.</p>
  </div>
</div>
<div class="section-container">
  <div class="section-content">
    <div class="image-content">
      <img src="../../../assets/images/mission.jpg" alt="Our Mission">
    </div>
    <div class="text-content">
      <h1>Our Mission</h1>
      <p>DermEase is dedicated to empowering individuals to achieve their best skin health and confidence. Through advanced technology and innovative solutions, we aim to provide accurate diagnoses, personalized skincare recommendations, and seamless access to professional dermatological care. We strive to enhance the skincare journey, promoting self-care and well-being with every interaction.</p>
      <button class="primary-button" (click)="onShop()">SHOP NOW</button>
    </div>

  </div>
  <div class="section-content">
    <div class="text-content">
      <h1>Our Vision</h1>
      <p>To revolutionize dermatological care by becoming a trusted partner in skin health, inspiring individuals to embrace the natural beauty and well-being of their skin. We envision a world where dermatological care is accessible, accurate, and empowering, transforming skincare routines into a source of confidence and joy for all.</p>
      <button class="primary-button">SHOP NOW</button>
    </div>
    <div class="image-content">
      <img src="../../../assets/images/vision.jpg" alt="Our Vision">
    </div>
  </div>
</div>
