.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 16px;
}

.login-card {
  background-color: #dabda5;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.signIn button {
  background-color: #b18e6f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
}

.text-center {
  text-align: center;
}

.textSign {
  position: relative;
  cursor: pointer;
  text-decoration: underline;
}
