<div class="doctor-details-container">
  <!-- Doctor Information Section -->
   <div>
    <div class="doctor-info">
      <div class="doctor-image-container">
        <img [src]="doctor.image" alt="{{ doctor.name }}">
      </div>
      <div class="doctor-details">
        <h2>{{ doctor.name }}</h2>
        <p>{{ doctor.specialty }}</p>
        <p>{{ doctor.education }}</p>
        <p><strong>Contact:</strong> {{ doctor.contact }}</p>
        <p><strong>Email:</strong> {{ doctor.email }}</p>
      </div>
    </div>

    <div class="communication-buttons">
      <button class="video-call-btn" (click)="startVideoCall()">Video Call</button>
      <button class="chat-btn" (click)="startChat()">Chat</button>
    </div>

    <div class="doctor-biography">
      <h3>Biography Of {{ doctor.name }}</h3>
      <p>{{ doctor.bio }}</p>
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam eligendi officiis illo optio
        vitae explicabo officia ullam, iusto nihil corrupti nesciunt, consequuntur doloremque quam voluptate vel similique.
        Ipsum quos fuga molestiae explicabo,
        ut, molestias corporis doloremque similique delectus laboriosam illum non, nemo quas voluptates laudantium. </p>
    </div>
   </div>


  <!-- Appointment Section -->
  <div class="appointment-section">
    <h3>Make An Appointment</h3>
    <form>
      <input type="text" placeholder="Name" required>
      <input type="email" placeholder="Email" required>
      <input type="date" placeholder="Select Date" required>
      <input type="time" placeholder="Select Time" required>
      <button type="submit" class="primary-button">Appointment</button>
    </form>

        <!-- Opening Time Section -->
        <div class="opening-time">
          <h3>Opening Time</h3>
          <p><strong>Friday – Saturday:</strong>  <span> 7:30 am – 4:00 pm </span> </p>
          <p><strong>Sunday – Monday:</strong> <span>10:30 am – 12:00 pm</span> </p>
          <p><strong>Tuesday:</strong> <span>Closed</span> </p>
          <p><strong>Wednesday:</strong> <span>8:30 am – 5:00 pm</span> </p>
          <p><strong>Thursday:</strong> <span>7:30 am – 4:00 pm </span> </p>
        </div>
  </div>



</div>
