<div class="doctor-details-container" >
  <!-- Doctor Information Section -->
   <div>
    <div class="doctor-info" *ngIf="doctor">
      <div class="doctor-image-container">
        <img src="../../../assets/images/doctor.jpg" alt="{{ doctor.user_name }}">
      </div>
      <div class="doctor-details">
        <h2>{{ doctor.user_name }}</h2>
        <p>{{ doctor.specialty }}</p>
        <p>{{ doctor.education }}</p>
        <p><strong>Contact:</strong> {{ doctor.contact }}</p>
        <p><strong>Email:</strong> {{ doctor.email }}</p>


    <div class="communication-buttons">
      <!-- <button class="video-call-btn" (click)="startVideoCall()">Video Call</button> -->
      <button class="chat-btn primary-button" (click)="openVideoCall()">Video call</button>
      <button class="chat-btn primary-button" (click)="openChat()">Chat</button>
    </div>
      </div>
    </div>


    <div class="doctor-biography">
      <!-- <h3>Biography Of {{ doctor.user_name }}</h3> -->
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam eligendi officiis illo optio
        vitae explicabo officia ullam, iusto nihil corrupti nesciunt, consequuntur doloremque quam voluptate vel similique.
        Ipsum quos fuga molestiae explicabo,
        ut, molestias corporis doloremque similique delectus laboriosam illum non, nemo quas voluptates laudantium. </p>
    </div>
   </div>


  <!-- Appointment Section -->
  <div class="appointment-section">
    <h3>Make An Appointment</h3>

        <!-- Opening Time Section -->
        <div class="opening-time">
          <h3>Opening Time</h3>
          <p><strong>Friday – Saturday:</strong>  <span> 7:30 am – 4:00 pm </span> </p>
          <p><strong>Sunday – Monday:</strong> <span>10:30 am – 12:00 pm</span> </p>
          <p><strong>Tuesday:</strong> <span>Closed</span> </p>
          <p><strong>Wednesday:</strong> <span>8:30 am – 5:00 pm</span> </p>
          <p><strong>Thursday:</strong> <span>7:30 am – 4:00 pm </span> </p>
        </div>
  </div>



</div>
