<div class="flex-container">
  <div class="login-card">
    <h2>Reset Password</h2>
    <form (submit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width">
        <input matInput id="password" type="password" placeholder="Password" required [(ngModel)]="newPassword" name="newPassword">
      </mat-form-field>
      <div *ngIf="passwordError" class="error-message">{{ passwordError }}</div>
      <button type="submit" class="primary-button">Reset Password</button>
    </form>
  </div>
</div>
