<div class="video-call-wrapper">
  <div class="video-container video-remote">
    <div *ngIf="remoteUserLeft" class="user-left-message">
      {{ data.remoteUser }} has left the call
    </div>

    <div *ngIf="!remoteUserLeft" #remoteVideo autoplay playsinline class="video-remote"></div>
    <div class="user-label remote-label">{{ data.remoteUser }}</div>
  </div>

  <div class="video-container local">
    <div #localVideo autoplay playsinline class="video-local"></div>
    <div class="user-label local-label">You</div>
  </div>

  <div class="control-bar">
    <button class="end-button" (click)="endCall()">
      <span class="material-icons">call_end</span>
    </button>

    <button class="toggle-button" (click)="toggleMic()">
      <span class="material-icons">{{ isMicOn ? 'mic' : 'mic_off' }}</span>
    </button>

    <button class="toggle-button" (click)="toggleVideo()">
      <span class="material-icons">{{ isVideoOn ? 'videocam' : 'videocam_off' }}</span>
    </button>
  </div>
</div>
