<div class="video-call-container">
  <h3>Room: Demo Presentation</h3>



  <!-- Show videos only after showRemote becomes true -->
  <div style="display: flex; gap: 20px;">

      <!-- Show "Connecting..." before call is accepted -->
  <div *ngIf="!showRemote" class="connecting-message">
    <p>🔄 Connecting to {{ remoteUser }}...</p>
  </div>
    <div *ngIf="showRemote">
      <h4>Remote User: {{ remoteUser }}</h4>
      <video #remoteVideo autoplay playsinline></video>
    </div>

    <div>
      <h4>Local User: {{ localUser }}</h4>
      <video #localVideo autoplay muted playsinline></video>
    </div>
  </div>

  <div class="controls">
    <button mat-raised-button color="warn" (click)="endCall()">End Call</button>
  </div>
</div>
