
<div class="alert-banner">
  <div class="alert-content">
    <!-- <mat-icon >alert</mat-icon> -->
    <span> Free Delivery on orders above of Rs3000. </span>
    <span>•</span>  
   <span>Free and Easy Returns.</span>   
     <span>•</span>      
     <span>Safely check package at delivery.</span> 
     <span>•</span> 
    <!-- <button class="dismiss-button" (click)="dismissAlert()">Dismiss</button> -->
  </div>
</div>
<footer class="footer">
  <div class="container">
    <div class="footer-section logo">
      <div class="logo-text">derm <span>Ease</span></div>
      <p>dermEase&#64;gmail.com</p>
      <p>Follow us</p>
      <div class="social-icons">
        <i class="fa fa-instagram"></i>
        <i class="fa fa-facebook"></i>
      </div>
    </div>
    <div class="footer-section">
      <h4>SHOP</h4>
      <div (click)="navigateTo('/shop/glass-skin-range')">Glass Skin Range</div>
      <div (click)="navigateTo('/shop/hair-care')">Hair Care</div>
      <div (click)="navigateTo('/shop/oral-hygiene')">Oral Hygiene</div>
      <div (click)="navigateTo('/shop/facial-masks')">Facial Masks</div>
    </div>
    <div class="footer-section">
      <h4>HELP</h4>
      <div (click)="navigateTo('/help/faq')">Frequently Asked Questions</div>
      <div (click)="navigateTo('/help/refund')">Refund and Returns Policy</div>
      <div (click)="navigateTo('/help/privacy')">Privacy Policy</div>
    </div>
    <div class="footer-section">
      <h4>LINKS</h4>
      <div (click)="navigateTo('/about')">About Us</div>
      <div (click)="navigateTo('/shop')">Shop</div>
      <div (click)="navigateTo('/contact')">Contact</div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>Copyright © Derm Ease 2024</p>
  </div>
</footer>

