<footer class="footer">
  <div class="container">
    <div class="footer-section logo">
      <div> <img src="../../../assets/images/logo.png" alt="" width="100px" height="80px" > </div>
    </div>
    <div class="footer-section">
      <h4>Contact</h4>
      <p>dermEase&#64;gmail.com</p>
      <p>Follow us</p>
      <div class="social-icons">
        <i class="fa fa-instagram"></i>
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-envelope-open"></i>
        <i class="fa fa-pinterest"></i>
      </div>
    </div>
    <div class="footer-section">
      <h4>HELP</h4>
      <div (click)="navigateTo('/faqs')">Frequently Asked Questions</div>
      <div (click)="navigateTo('/RefundPolicy')">Refund Policy</div>
      <div (click)="navigateTo('/PrivacyPolicy')">Privacy Policy</div>
    </div>
    <div class="footer-section">
      <h4>LINKS</h4>
      <div (click)="navigateTo('/about')">About Us</div>
      <div (click)="navigateTo('/shop/products')">Shop</div>
      <div (click)="navigateTo('/contact')">Contact</div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>Copyright © Derm Ease 2024</p>
  </div>
</footer>

