html, body { height: 100%; }
body { margin: 0;
    font-family:"DM Sans", sans-serif !important;
    font-optical-sizing: auto;
 }

:root{
    --primary-color: #cda079;
    --primary-color2: rgb(236, 236, 236);
    --primary-color3: #8b5e3c;
    --primary-ff: Red Hat Display, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --secondary-ff: Gruppo, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.primary-button{
    background: linear-gradient(to right,#8b5e3c, #cda079);
    padding: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    padding-inline: 20px;
    border-radius: 8px;
  }
.primary-button:hover{
    /* background: conic-gradient(#cda079, #8b5e3c, #ffffff, #cda079); */
    background: linear-gradient(to right, #cda079, #8b5e3c);
    transition: 0.5s ease-in-out;
}

/* Shopper Banner */

.shop-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background: linear-gradient(180deg, #dabb9a, #86564e);
  /* background: url('../../../assets/images/DermeaseShop.png') no-repeat ; */
  background-size: cover;
  background-position: center center;
  border-radius: 20px;
  margin: 20px;
  position: relative;
  overflow: hidden;
}

.shop-content {
  text-align: center;
  color: #fff;
  opacity: 0;
  transform: translateY(-100%);
  animation: slideDown 2s forwards;
}

.shop-content p {
  font-size: 1rem;
  margin: 0;
}

.shop-content h1 {
  font-size: 3rem;
  margin: 10px 0 0;
}

.shop-banner::before {
  content: '';
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  height: 1000px;
  background-size: cover;
  opacity: 0.9;
}

@keyframes slideDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .shop-banner {
    height: 200px;
  }

  .shop-content h1 {
    font-size: 2rem;
  }
}



  /* FOR HR TAG */
hr{

  border: 0;
  height: 1px;
  width: 80%;
  position: relative;
  margin: 30px auto;


  &.center-ball{
    background: linear-gradient(to right, #cda079, #8b5e3c);

    &:before{
      content: "";
      width: 80%;
      height: 6px;
      background: linear-gradient(to right, #cda079, #8b5e3c);
      display: inline-block;
      border: 2px solid linear-gradient(to right, #cda079, #8b5e3c);
      border-radius:50%;
      position: absolute;
      top: -4px;
      left: 50%;
      margin: 0 0 0 -3px;
    }
  }

  &.center-diamond{
    background: linear-gradient(to right, #cda079, #8b5e3c);

    &:before{
      content: "";
      width: 80%;
      height: 6px;
      background: linear-gradient(to right, #cda079, #8b5e3c);
      display: inline-block;
      border: 2px solid \linear-gradient(to right, #cda079, #8b5e3c);;
      position: absolute;
      top: -5px;
      left: 50%;
      margin: 0 0 0 -3px;
      transform:rotate(45deg);
      -ms-transform:rotate(45deg); /* IE 9 */
      -webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
    }
  }

  &.center-square{
    background: linear-gradient(to right, #cda079, #8b5e3c);

    &:before{
      content: "";
      width: 80%;
      height: 6px;
      background: linear-gradient(to right, #cda079, #8b5e3c);
      display: inline-block;
      border: 2px solid linear-gradient(to right, #cda079, #8b5e3c);;
      position: absolute;
      top: -5px;
      left: 50%;
      margin: 0 0 0 -3px;
    }
  }

  &.center-star{
    background: linear-gradient(to right, #cda079, #8b5e3c);

    &:before{
      content: "★";
      color: linear-gradient(to right, #cda079, #8b5e3c);;
      display: inline-block;
      position: absolute;
      top: 0px;
      left: 50%;
      margin: 0 0 0 -3px;
      font-size: 15px;
      line-height: 0;
      /* text-shadow: 0 0 3px lighten, 5%); */
    }
  }
}

.component-header {
  color: white;
  background: linear-gradient(to right, #cda079, #8b5e3c);
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.component-container {
  background-color: white;
  border-radius: 10px;
  box-shadow:
    inset 0 5px 5px rgba(243, 245, 243, 0.3),
    0 0 0 1px rgb(243, 241, 241),
    5px 5px 5px rgba(153, 127, 127, 0.6);
}


@media (max-width: 768px) {
  body{
    cursor: pointer;
  }

}

/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  /* -webkit-appearance: none; */
  background-color: #86564e;
  margin-top: 1px;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
