.container {
  max-width: 900px;
  margin: auto;
  text-align: center;
  padding: 10px;
  font-family: 'inter';
}

/* 🎥 Background Video Setup */
.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 525px;
  overflow: hidden;
  margin-top: 10px;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.intro-button {
  position: relative;
  z-index: 1;
  background-color: #cda079;
  color: #fff;
  padding: 12px;
  margin-bottom: 100px !important;
  margin-right: 500px !important;
  border-radius: 8px;
  font-size: 18px;
}
.back-button-container {
  margin: 40px 0; /* spacing above and below the button */
  display: flex;
  justify-content: center;
}

.identified-disease {
  margin-top: 20px;
  font-size: 16px;
}

.stepper-instructions {
  background-color: #cda079;
  color: #fff;
  padding: 10px;
}

.recommendation {
  text-align: center;
  margin: 20px 0;
}

@media screen and (max-width: 480px) {
  .product-card {
    width: calc(100% - 20px);
    margin: 10px auto;
  }

  .intro {
    height: 270px;
  }

  .intro-button {
    font-size: 14px;
    padding: 8px;
    margin-bottom: 5px;
  }

  mat-card {
    padding: 15px;
  }

  button {
    width: 60%;
    margin: 10px 0;
  }
}

::ng-deep mat-step-header#cdk-step-label-0-0 {
  display: none !important;
}

.primary-button {
  background-color: #a27b5c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-button:disabled {
  opacity: 0.7;
}

input[type="file"] {
  margin: 15px 0;
}

.file-input-container {
  margin-bottom: 15px;
}

.image-preview {
  width: 500px;
  margin: auto;
}

.image-preview img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

mat-panel-title {
  color: white;
  padding: 0;
  margin: 0;
}

.mat-expansion-panel {
  background: whitesmoke !important;
  color: white;
  border-radius: 10px;
}

.mat-expansion-panel-header {
  background: var(--primary-color3) !important;
  color: white;
  border-radius: 10px;
}

.predictions-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 10px 0px;
}

.prediction-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  background-color: #a27b5c;
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
}

.prediction-card:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.prediction-card img {
  margin-top: 10px;
  cursor: pointer;
  height: 150px;
  object-fit: contain;
  padding: 20px;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .predictions-grid {
    flex-direction: column;
  }
}
::ng-deep .mat-step-header {
  display: none !important;
}