.container {
  max-width: 900px;
  margin: auto;
  text-align: center;
  padding: 10px;
  font-family: 'inter';
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
  background-image: url('../../../assets/images/eczemaa.png');
  background-size: cover;
  width: 100%;
  height: 484px;
  position: relative;
}

.intro-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cda079;
  color: #fff;
  padding: 12px;
  margin-bottom: 44px;
  margin-right: 10px;
  border-radius: 8px;
  font-size: 18px;
}
.stepper-instructions {
  background-color: #cda079;
  color: #fff;
  padding: 10px;
}

.recommendation {
  text-align: center;
  margin: 20px 0;
}
@media screen and (max-width: 480px) {
  .product-card {
      width: calc(100% - 20px); /* Full width for mobile screens */
      margin: 10px auto;
  }

  .intro {
      height: 270px; /* Adjust intro height for smaller screens */
  }

  .intro-button {
      font-size: 14px; /* Reduce button size */
      padding: 8px;
      margin-bottom: 5px;
  }

  mat-card {
      padding: 15px; /* Adjust padding for smaller screens */
  }

  button {
      width: 60%; /* Full-width buttons */
      margin: 10px 0;
  }
}
::ng-deep mat-step-header#cdk-step-label-0-0{
  display: none !important;
}

.primary-button {
  background-color: #a27b5c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.primary-button:disabled {
  background-color: #ccc;
}
input[type="file"] {
  margin: 15px 0;
}


.file-input-container {
  margin-bottom: 15px;
}
.image-preview{
  width: 500px;
  margin: auto;
}

.image-preview img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
