<div class="container">

  <mat-expansion-panel  *ngIf="pastPredictions.length > 0 && isIntro" >
    <mat-expansion-panel-header>
      <mat-panel-title> My Cases</mat-panel-title>
    </mat-expansion-panel-header>

    <div *ngIf="pastPredictions.length > 0" class="past-predictions">
      <div class="predictions-grid">
        <mat-card class="prediction-card" *ngFor="let prediction of pastPredictions; let i = index">
          <img mat-card-image [src]="getFullImageUrl(prediction.image)" alt="Past Prediction Image">
          <mat-card-header>
            <mat-card-title> <strong> Case {{ i + 1 }} </strong></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p><strong>Disease:</strong> {{ prediction.predictedDisease }}</p>
            <p><strong>Confidence:</strong> {{ prediction.confidence }}%</p>
            <p><strong>Date:</strong> {{ prediction.uploadedAt | date: 'short' }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-expansion-panel>

  <div class="intro" *ngIf="isIntro">
    <button class="intro-button primary-button" (click)="startStepper()">LET'S FIND YOUR SKIN DISEASE !</button>
  </div>

  <div *ngIf="!isIntro && showStepper && !isDisease">
    <mat-horizontal-stepper [linear]="true" #stepper class="custom-stepper">
      <mat-step>
        <form [formGroup]="firstFormGroup">
          <h2>Upload Your Skin Image</h2>
          <p>Please attach an image for analysis.</p>
          <div class="file-input-container">
            <button class="primary-button" type="button"  (click)="fileInput.click()"> <mat-icon> attach_file</mat-icon> BROWSE</button>
            <input
              type="file"
              hidden
              #fileInput
              accept="image/*"
              (change)="onFileSelected($event)" />
          </div>
          <div class="image-preview" *ngIf="imagePreview">
            <img [src]="imagePreview" alt="Selected Image" />
          </div>
          <div>
            <button class="primary-button" type="button"  [disabled]="!selectedFile" (click)="onUpload(selectedFile)">PREDIT DISEASE</button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>

  </div>

  <div *ngIf="disease">
    <h2>Analysis Result</h2>
    <div class="image-preview" *ngIf="imagePreview">
      <img [src]="imagePreview" alt="Selected Image" />
    </div>
    <p >Identified Disease: {{ disease }}</p>
  </div>

  <div class="stepper-instructions">
    <h3>Curious about what's affecting your skin?</h3>
    <h4>DermEase's Skin Disease Predictor is here to guide you!</h4>
    <p>This tool is designed to provide insights into common skin conditions. For accurate diagnosis and personalized care, we recommend consulting a qualified dermatologist or healthcare professional.</p>
  </div>
</div>


<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "rgba(205, 160, 121, 1)" type = "ball-fussion" [fullScreen] = "true"></ngx-spinner>
