
<!-- <div>
  <img src="../../../assets/images/DermeaseShop (1).png" alt="DermEase Shop" width="100%">
</div> -->
<div class="shop-banner">
  <img src="../../../assets/images/DermeaseShop.png" alt="shop" height="400px">
  <!-- <div class="shop-content">
    
    <p>DermEase</p>
    <h1>SHOP</h1>
  </div> -->
</div>

<section class="featured-products">
  <h2>Featured <span>Products</span></h2>
  <p>Our skin care & hair care brand revolves around sustainability. As our products do not contain any harmful chemicals like parabens, phthalates, and sulphates.</p>
  <div class="product-grid">
    <div class="product-card" *ngFor="let product of paginatedProducts">
      <img [src]="product.image" [alt]="product.name">
      <h3>{{ product.name }}</h3>
      <div class="price">
        <span *ngIf="product.oldPrice" class="old-price">Rs {{ product.oldPrice }}</span>
        <span>Rs {{ product.price }}</span>
      </div>
      <div class="actions">
        <span (click)="addToCart(product)">Add to Cart</span>
        <span (click)="quickView(product)">Quickview</span>
      </div>
    </div>
  </div>
  <mat-paginator [length]="products.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="handlePageEvent($event)">
  </mat-paginator>
</section>
