/* Featured Products */
.featured-products {
    text-align: center;
    padding: 40px 20px;
  }
  
  .featured-products h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .featured-products h2 span {
    color: #784b79;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .featured-products p {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
  }
  
  .product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-inline: 94px;
  }
  
  .product-card {
    margin-bottom: 40px;
    margin-right: 14px;
    padding-inline: 7px;
    width: calc(25% - 40px);
    box-sizing: border-box;
    text-align: center;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
    margin-bottom: 4px;
  }
  
  .product-card h3 {
    font-size: 16px;
  }
  
  
  .product-card .old-price {
    text-decoration: line-through;
    color: #999;
    margin-right: 10px;
  }
  
  .product-card .actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
  
  }
  
  .product-card .actions span {
    margin: 5px 0;
    padding: 10px;
    color: black;
    cursor: pointer;
    border-bottom: 2px solid var(--primary-color);
  }
  
  .product-card .actions span:hover {
    background: var(--primary-color);
    border-radius: 8px;
    transition: 0.5s ease-in-out;
  }
  
  /* Responsive Design */
  @media (max-width: 1200px) {
    .featured-products .product-grid .product-card {
      width: calc(50% - 40px);
    }
    .swiper-button-next,
    .swiper-button-prev {
      display: none; /* Hide navigation buttons on small screens */
    }
  }
  
  @media (max-width: 768px) {
    .featured-products .product-grid .product-card {
      width: calc(50% - 40px);
    }
    .swiper-button-next,
    .swiper-button-prev {
      display: none; /* Hide navigation buttons on small screens */
    }
    .featured-products .product-grid .product-card .actions{
      display: none;
    }
  }
  
  @media (max-width: 480px) {
    .featured-products .product-grid .product-card {
      width: calc(100% + 40px);
    }
    .featured-products .product-grid .product-card .actions{
      display: none;
    }
  
  }
  .mat-h3, .mat-subtitle-1, .mat-typography .mat-h3, .mat-typography .mat-subtitle-1, .mat-typography h3 {
    font: 400 16px / 28px Roboto, sans-serif;
    letter-spacing: .009375em;
    margin: 0 0 8px !important;
  }
  

  .shop-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background: linear-gradient(180deg,#dabb9a,#86564e);
    /* background: url('../../../assets/images/DermeaseShop.png') no-repeat ; */
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
    margin: 20px;
    position: relative;
    overflow: hidden;
  }
  
  .shop-content {
    text-align: center;
    color: #fff;
  }
  
  .shop-content p {
    font-size: 1rem;
    margin: 0;
  }
  
  .shop-content h1 {
    font-size: 3rem;
    margin: 10px 0 0;
  }
  
  .shop-banner::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 400px;
    background-size: cover;
    opacity: 0.9;
  }
  
  @media (max-width: 768px) {
    .shop-banner {
      height: 200px;
    }
  
    .shop-content h1 {
      font-size: 2rem;
    }
  }
  

/* FOR CART CSS */

.cart-sidebar {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%; /* Adjust according to your layout */
  position: fixed;
  right: 0;
  top: 0;
  width: 350px;
  height: 100%;
  background: white;
  box-shadow: -2px 0 4px rgba(0,0,0,0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000; /* High z-index to be on top of other content */
}

.cart-sidebar.show {
  transform: translateX(0);
}

@media (max-width: 768px) {
  .cart-sidebar {
    width: 100%; /* Full screen on mobile devices */
  }
}


.cart-header {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cart-items {
  overflow-y: auto; /* Makes it scrollable if items exceed the height */
  height: calc(100% - 50px); /* Adjust 50px or whatever the height of the actions bar */
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-info img {
  width: 55px;
  height: 55px;
  margin-right: 10px;
}

.item-total {
  font-weight: bold;
}

.cart-footer {
  text-align: left;
  margin-top: auto;
  margin-bottom: 20px;
}
.footer-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subtotal{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cart-footer button{
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  color: white;
}

.close-icon{
  float: right;
   display: flex;
   padding: 5px;
   justify-content: center;
}
.close-icon:hover{
  cursor: pointer;
  background-color: #eddcd9;
  border-radius: 6px;
}
.mat-icon {
    height: unset; 
   width: unset; 
}
.shop-count{
  font-size: 10px;
  color: var(--primary-color);
  margin-top: -4px;
}
.shopping-heading{
  display: flex;
}
.quantityAdd{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  /* border: 1px solid var(--primary-color); */
  padding: 3px;
}
.itemName{
  font-size: 18px;
  font-weight: 500;

}
.price{
  color: #5c2d17;
  font-weight: 700;
  font-weight: 700;
}
.removeIcon{
  font-size: 16px;

}
.removeIcon:hover{
  cursor: pointer;
  background-color: #eddcd9;
  border-radius: 6px;
  padding: 2px;
}

/* FOR HR TAG */
hr{
  
  border: 0;
  height: 1px;
  width: 80%;
  position: relative;
  margin: 30px auto;
  
  
  &.center-ball{
    background: linear-gradient(to right, #cda079, #8b5e3c);
    
    &:before{
      content: "";
      width: 80%;
      height: 6px;
      background: linear-gradient(to right, #cda079, #8b5e3c);
      display: inline-block;
      border: 2px solid linear-gradient(to right, #cda079, #8b5e3c);
      border-radius:50%;
      position: absolute;
      top: -4px;
      left: 50%;
      margin: 0 0 0 -3px;
    }
  }
  
  &.center-diamond{
    background: linear-gradient(to right, #cda079, #8b5e3c);
    
    &:before{
      content: "";
      width: 80%;
      height: 6px;
      background: linear-gradient(to right, #cda079, #8b5e3c);
      display: inline-block;
      border: 2px solid \linear-gradient(to right, #cda079, #8b5e3c);;
      position: absolute;
      top: -5px;
      left: 50%;
      margin: 0 0 0 -3px;
      transform:rotate(45deg);
      -ms-transform:rotate(45deg); /* IE 9 */
      -webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
    }
  }
  
  &.center-square{
    background: linear-gradient(to right, #cda079, #8b5e3c);
    
    &:before{
      content: "";
      width: 80%;
      height: 6px;
      background: linear-gradient(to right, #cda079, #8b5e3c);
      display: inline-block;
      border: 2px solid linear-gradient(to right, #cda079, #8b5e3c);;
      position: absolute;
      top: -5px;
      left: 50%;
      margin: 0 0 0 -3px;
    }
  }
  
  &.center-star{
    background: linear-gradient(to right, #cda079, #8b5e3c);
    
    &:before{
      content: "★";
      color: linear-gradient(to right, #cda079, #8b5e3c);;
      display: inline-block;
      position: absolute;
      top: 0px;
      left: 50%;
      margin: 0 0 0 -3px;
      font-size: 15px;
      line-height: 0;
      /* text-shadow: 0 0 3px lighten, 5%); */
    }
  }
}
