
<div class="shop-banner">
  <div class="shop-content text-center p-4">
    <p class="text-2xl mb-2">DermEase</p>
    <h1 class="text-4xl font-bold">SHOP</h1>
  </div>
</div>

<section class="featured-products">
  <h2>Featured <span>Products</span></h2>
  <!-- <hr> -->
  <!-- <p>Our skin care & hair care brand revolves around sustainability. As our products do not contain any harmful chemicals like parabens, phthalates, and sulphates.</p> -->
  <mat-paginator [length]="products.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="handlePageEvent($event)">
  </mat-paginator>
  <div class="product-grid">
    <div class="product-card" *ngFor="let product of paginatedProducts">
      <div class="product-details" (click)="getProductDetails(product._id)" [routerLink]="['/product', product._id]">
        <img  [src]="product.product_image" [alt]="product.product_name">
        <h3>{{ product.product_name }}</h3>
        <div class="price">
          <span *ngIf="product.oldPrice" class="old-price">Rs {{ product.oldPrice }}</span>
          <span>Rs {{ product.price }}</span>
        </div>
      </div>
      <div class="actions">
        <span (click)="addToCart(product)">Add to Cart</span>
        <span (click)="quickView(product)">Quickview</span>
      </div>
    </div>
  </div>

</section>


