<div class="refund-policy-container">
  <h1>Refund policy</h1>
  <ul>
    <li>Products can be exchanged only if the product is broken or you have received the wrong product.</li>
    <li>Full refunds are available if appointments are canceled at least 24 hours before the scheduled time.</li>
    <li>The original invoice is required for exchange within 24h of purchase for unused products in original packaging.</li>
    <li>Refunds may be denied if the product is returned damaged, not due to a manufacturing defect.</li>
  </ul>
  <p>
    Send us an Invoice and images of the defective product at<br>
    <!-- <a href="mailto:serendipityexchange1@gmail.com">serendipityexchange1@gmail.com</a> -->
  </p>
</div>
