body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
  }
  
  .refund-policy-container {
    padding: 50px;
    max-width: 550px;
    margin: auto;
    width: 100%;
    text-align: left;
  }
  
  .refund-policy-container h1 {
    font-size: 3rem;
    font-family: 'Times New Roman', serif;
    text-align: center;
    color: #000;
    margin-bottom: 50px;
  }
  
  .refund-policy-container ul {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 1rem;
    color: #000;
    margin-bottom: 20px;
  }
  
  .refund-policy-container p {
    font-size: 1rem;
    color: #000;
    margin-top: 20px;
  }
  
  .refund-policy-container a {
    font-weight: bold;
    color: #000;
    text-decoration: none;
  }
  
  .refund-policy-container a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .refund-policy-container {
      padding: 20px;
    }
  
    .refund-policy-container h1 {
      font-size: 2.5rem;
    }
  
    .refund-policy-container ul {
      font-size: 1rem;
    }
  
    .refund-policy-container p {
      font-size: 1rem;
    }
  }
  